@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #333;
}

a {
    text-decoration: none !important;
}

.dashboard-container {
    position: relative;
    background-color: #EEEDF1;

    .dashboard-content {
        width: calc(100vw - 267px);
        min-height: 100vh;
        margin-left: auto;
        position: relative;

        .content-wrapper {
            width: 90%;
            margin: auto;
            padding: 3rem 0 5rem;
        }
    }
}

// Tag input
.tag-wrapper {
    position: relative;

    .input-tags {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;

        li {
            color: #fff;
            list-style: none;
            border-radius: 50px;
            background-color: #22244B;
            padding: 2px 8px;
            font-size: 0.75rem;
            font-weight: 300;
            margin: 0.15rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;

            .bi {
                font-size: 1rem;
                cursor: pointer;
                color: #fff;

                &.disabled {
                    pointer-events: none;
                    opacity: 0;
                    width: 0;
                }
            }
        }

        .form-control {
            padding: 0.375rem;
        }
    }

    .input-suggestions {
        display: none;
        margin: 0;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0.5rem 0;

        li {
            margin: 4px 3px;
            list-style: none;
            border-radius: 50px;
            background: #F2F2F2;
            padding: 4px 8px;
            border: 1px solid #e3e1e1;
            font-size: 0.75rem;
            cursor: pointer;
        }
    }

    &.active {

        .input-suggestions {
            display: flex;
        }
    }
}

// Utilities
@import "utilities/variables";
@import "utilities/utilities";

// Pages
@import "dashboard/pages/home";
@import "dashboard/pages/profile";

// Includes
@import "dashboard/includes/top_nav";
@import "dashboard/includes/side_nav";
