@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #333;

    body {
        p {
            margin-bottom: .5rem;
        }
    }
}

// Utilities
@import "utilities/variables";
@import "utilities/utilities";

// Pages
@import "landing_page/pages/home";
@import "landing_page/pages/join";
@import "landing_page/pages/contact";
@import "landing_page/pages/about";

// Includes
@import "landing_page/includes/top_nav";
@import "landing_page/includes/footer";
