$primary-blue: #22244b;
$light-blue: #00aeef;
$blue: #207cd8;
$mid-dark-blue: #2044f6;
$mid-blue: #19a3dc;
$dark-blue: #150d6d;
$black: #000;
$text-black: #333;
$gray: #777;
$light-gray: #ddd;
$white: #fff;
$purple: #8f4ff0;
$maroon: #7c1111;
$red: #dc2619;
$primary-yellow: #f2bd4d;
$orange: #f67520;
$yellow: #f2bd4d;
$dark-green: #117c3e;
$mid-green: #008d13;
$green: #2da973;
