$primary-blue: #22244B;
$light-blue: #00AEEF;
$blue: #207CD8;
$mid-dark-blue: #2044F6;
$mid-blue: #19A3DC;
$dark-blue: #150D6D;
$black: #000;
$text-black: #333;
$light-gray: #ddd;
$white: #fff;
$purple: #8F4FF0;
$maroon: #7C1111;
$primary-yellow: #F2BD4D;
$orange: #F67520;
$yellow: #F2BD4D;
$dark-green: #117C3E;
$mid-green: #008D13;
$green: #2DA973;
