.top-nav {
    padding: 0.75rem 0;
    border-bottom: 2px solid #dfdfdf;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 999;
    background-color: #eeedf1;

    .inner-wrapper {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;

        .property-block {
            display: flex;
            flex-direction: row;

            .new-property {
                border-right: 1px solid #ddd;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 0 1rem;

                .add-btn {
                    text-decoration: none;
                    color: white;
                    background-color: #22244b;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.5rem;
                    font-weight: 300;
                }
            }

            .property-drop {
                border-right: 1px solid #ddd;
                padding: 0 1rem;

                .drop-header {
                    font-size: 0.8rem;
                    font-weight: 300;
                    color: #8e91a2;
                    margin-bottom: 0.15rem;
                }

                .property-drop-btn {
                    border: none;
                    background-color: transparent;
                }

                .property-item {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 0.5rem;

                    img {
                        width: 35px;
                        height: 35px;
                        object-fit: cover;
                        object-position: center;
                        border-radius: 50%;
                    }

                    .name {
                        font-size: 0.9rem;
                        font-weight: 400;
                        text-transform: uppercase;
                        max-width: 160px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                }
            }
        }

        .navs {
            list-style: none;
            width: fit-content;
            margin: 0;
            margin-left: auto;
            padding: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 2rem;

            .nav-link {
                font-size: 0.9rem;
                font-weight: 400;
                color: #333;
            }

            .dropdown-btn {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.5rem;
                background-color: transparent;
                border: none;

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                    object-position: center;
                }

                span {
                    font-size: 0.9rem;
                    font-weight: 400;
                    max-width: 150px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
            }

            .dropdown-menu {
                a {
                    font-size: 0.9rem;
                    font-weight: 400;
                    color: #333;
                }
            }
        }
    }
}
