@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #333;
}

a {
  text-decoration: none !important;
}

.dashboard-container {
  position: relative;
  background-color: #EEEDF1;
}
.dashboard-container .dashboard-content {
  width: calc(100vw - 267px);
  min-height: 100vh;
  margin-left: auto;
  position: relative;
}
.dashboard-container .dashboard-content .content-wrapper {
  width: 90%;
  margin: auto;
  padding: 3rem 0 5rem;
}

.tag-wrapper {
  position: relative;
}
.tag-wrapper .input-tags {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.tag-wrapper .input-tags li {
  color: #fff;
  list-style: none;
  border-radius: 50px;
  background-color: #22244B;
  padding: 2px 8px;
  font-size: 0.75rem;
  font-weight: 300;
  margin: 0.15rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.tag-wrapper .input-tags li .bi {
  font-size: 1rem;
  cursor: pointer;
  color: #fff;
}
.tag-wrapper .input-tags li .bi.disabled {
  pointer-events: none;
  opacity: 0;
  width: 0;
}
.tag-wrapper .input-tags .form-control {
  padding: 0.375rem;
}
.tag-wrapper .input-suggestions {
  display: none;
  margin: 0;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.5rem 0;
}
.tag-wrapper .input-suggestions li {
  margin: 4px 3px;
  list-style: none;
  border-radius: 50px;
  background: #F2F2F2;
  padding: 4px 8px;
  border: 1px solid #e3e1e1;
  font-size: 0.75rem;
  cursor: pointer;
}
.tag-wrapper.active .input-suggestions {
  display: flex;
}

.btn-fill {
  font-size: 0.9rem;
  color: #fff;
  font-weight: 400;
  background-color: #22244B;
  padding: 0.7rem 1.5rem;
  border-radius: 50px;
  text-decoration: none;
  border: 1px solid #22244B;
  text-align: center;
}
.btn-fill:hover {
  text-decoration: none;
  color: #fff;
}

.btn-outline {
  font-size: 0.9rem;
  color: #22244B;
  font-weight: 400;
  background-color: transparent;
  padding: 0.7rem 1.5rem;
  border-radius: 50px;
  text-decoration: none;
  border: 1px solid #22244B;
  text-align: center;
}
.btn-outline:hover {
  text-decoration: none;
  color: #22244B;
}

.cta-link {
  display: block;
  width: fit-content;
  text-decoration: none;
  font-weight: 300;
  font-size: 1rem;
  color: #150D6D;
}
.cta-link:hover {
  text-decoration: none;
  color: #150D6D;
}

.no-data {
  padding: 1rem;
  border-top: 1px solid #ddd;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  color: #777;
}

.profile-status-block {
  padding: 2rem;
  background-color: #fff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.profile-status-block .content-block h5 {
  color: #22244b;
}
.profile-status-block .content-block p {
  font-size: 0.9rem;
  font-weight: 300;
}
.profile-status-block .content-block button {
  background-color: rgba(34, 36, 75, 0.3);
  border: none;
  border-radius: 3px;
  font-size: 0.8rem;
  font-weight: 400;
  padding: 0.75rem 1rem;
}
.profile-status-block .status-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
.profile-status-block .status-block .text-block {
  text-align: center;
}
.profile-status-block .status-block .text-block .title {
  font-size: 0.9rem;
  font-weight: 300;
}
.profile-status-block .status-block .text-block .status {
  font-size: 1.25rem;
}
.profile-status-block .radial-progress {
  position: relative;
}
.profile-status-block .radial-progress .progress {
  width: 130px;
  height: 130px;
  background-color: transparent;
}
.profile-status-block .radial-progress .progress .track {
  fill: transparent;
  stroke-width: 3;
  stroke: #d6e6fc;
}
.profile-status-block .radial-progress .progress .fill {
  fill: transparent;
  stroke-width: 3;
  stroke: #22244b;
  stroke-dasharray: 219.9907836914;
  stroke-dashoffset: -219.9907836914;
  transition: stroke-dashoffset 1s;
  transform: rotate(90deg);
  transform-origin: center;
}
.profile-status-block .radial-progress .progress .value {
  fill: #333;
  text-anchor: middle;
  font-size: 1.35rem;
}
.profile-status-block img {
  position: absolute;
  z-index: 0;
}
.profile-status-block img.rect1 {
  top: 0;
  left: 0;
}
.profile-status-block img.rect2 {
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}
.profile-status-block img.rect3 {
  bottom: 0;
  left: 40%;
}

.profile-block__title {
  color: #8e91a2;
  font-weight: 300;
}
.profile-block__content {
  background-color: #fff;
  padding: 1rem;
}
.profile-block__content .image-block {
  position: relative;
  padding: 1rem;
}
.profile-block__content .image-block__img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  display: block;
  margin: auto;
}
.profile-block__content .image-block__edit-btn {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.profile-block__content .name {
  text-align: center;
  font-size: 1.35rem;
}
.profile-block__content .country {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.profile-block__content .country__flag {
  width: 25px;
}
.profile-block__content .country__name {
  color: #8e91a2;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.profile-block__content .info-block {
  padding: 1rem;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.profile-block__content .info-block__title {
  min-width: 110px;
  display: block;
  font-size: 0.9rem;
  color: #888;
}
.profile-block__content .info-block__title .bi {
  margin-right: 0.5rem;
  font-size: 1rem;
  color: #888;
}
.profile-block__content .info-block__text {
  font-size: 0.9rem;
  font-weight: 300;
}
.profile-block__content .info-block__tag {
  font-size: 0.75rem;
  font-weight: 300;
  color: #fff;
  background-color: #22244b;
  display: inline-block;
  width: fit-content;
  padding: 4px 8px;
  border-radius: 20px;
  margin: 0.15rem;
}
.profile-block__content .info-block__status {
  font-size: 0.8rem;
  font-weight: 300;
  padding: 0 0.5rem;
}
.profile-block__content .info-block__status.verified {
  color: #008d13;
}
.profile-block__content .info-block__status .verify-btn {
  color: red;
  background-color: transparent;
  border: none;
}
.profile-block__content .button-block {
  padding: 0.75rem 0 0 0;
  text-align: center;
}
.profile-block__content .button-block .cta-btn {
  background-color: transparent;
  border: none;
  font-size: 0.9rem;
  font-weight: 300;
  color: #017ffa;
}
.profile-block__content .button-block .cta-btn .bi {
  color: #017ffa;
  font-size: 1rem;
}

.profile-list {
  background-color: #fff;
  padding: 1rem;
}
.profile-list__title {
  font-size: 1.1rem;
  font-weight: 300;
  color: #8e91a2;
  margin: 0;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid #ddd;
}
.profile-list__content {
  padding: 1rem;
}
.profile-list__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0;
}
.profile-list__item:not(:nth-last-child(1)) {
  border-bottom: 1px solid #ddd;
}

.pending-actions {
  background-color: #fff;
  padding: 1rem;
}
.pending-actions__title {
  font-size: 1.1rem;
  font-weight: 300;
  color: #8e91a2;
  margin: 0;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid #ddd;
}
.pending-actions__content {
  padding: 1rem;
}
.pending-actions__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.pending-actions__item-status {
  color: #0d31ff;
}

.personal-information__title {
  color: #8e91a2;
  font-weight: 300;
}
.personal-information__content {
  background-color: #fff;
  padding: 1rem;
}
.personal-information__content .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem 0.75rem;
}
.personal-information__content .header__title {
  font-size: 1.1rem;
  font-weight: 300;
  color: #8e91a2;
  margin: 0;
}
.personal-information__content .header__btn {
  background-color: transparent;
  border: none;
  font-size: 0.9rem;
  font-weight: 300;
  color: #017ffa;
}
.personal-information__content .header__btn .bi {
  color: #017ffa;
  font-size: 1rem;
}
.personal-information__content .information-table--wrapper {
  padding: 1rem;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.personal-information__content .information-table--wrapper .information-table {
  border-collapse: collapse;
  width: 100%;
  max-width: 300px;
}
.personal-information__content .information-table--wrapper .information-table th {
  font-size: 0.9rem;
  font-weight: 400;
  color: #8e91a2;
}
.personal-information__content .information-table--wrapper .information-table th,
.personal-information__content .information-table--wrapper .information-table td {
  padding: 0.25rem 0.375rem;
}
.personal-information__content .information-table--wrapper .information-table__tag {
  font-size: 0.75rem;
  font-weight: 300;
  color: #fff;
  background-color: #22244b;
  display: inline-block;
  width: fit-content;
  padding: 4px 8px;
  border-radius: 20px;
}
.personal-information__content .information-table--wrapper .information-table__text {
  font-size: 0.9rem;
  font-weight: 400;
}
.personal-information__content .button-block {
  text-align: right;
  padding: 0.75rem 0 0;
}
.personal-information__content .button-block .edit-btn {
  font-size: 0.9rem;
  font-weight: 400;
  border-radius: 5px;
  color: #c43434;
  border: 1px solid #c43434;
  padding: 0.375rem 0.75rem;
  background-color: transparent;
}

.job-preferences {
  background-color: #fff;
  padding: 1rem;
}
.job-preferences__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem 0.5rem;
  border-bottom: 1px solid #ddd;
}
.job-preferences__header .edit-btn {
  border: none;
  background-color: transparent;
}
.job-preferences__header-title {
  color: #8e91a2;
  font-weight: 300;
  margin: 0;
}
.job-preferences__content {
  padding: 1rem;
}
.job-preferences__content-title {
  color: #8e91a2;
}

.personal-details {
  background-color: #fff;
  padding: 1rem;
}
.personal-details__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem 0.5rem;
  border-bottom: 1px solid #ddd;
}
.personal-details__header .edit-btn {
  border: none;
  background-color: transparent;
}
.personal-details__header-title {
  color: #8e91a2;
  font-weight: 300;
  margin: 0;
}
.personal-details__content {
  padding: 1rem;
}
.personal-details__content-title {
  color: #8e91a2;
}
.personal-details__content-tag {
  font-size: 0.75rem;
  font-weight: 300;
  color: #fff;
  background-color: #22244b;
  display: inline-block;
  width: fit-content;
  padding: 0.25rem 0.75rem;
  border-radius: 5px;
  margin: 0.15rem;
}

.top-nav {
  padding: 0.75rem 0;
  border-bottom: 2px solid #DFDFDF;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 9999;
  background-color: #EEEDF1;
}
.top-nav .inner-wrapper {
  width: 90%;
  margin: auto;
}
.top-nav .inner-wrapper .navs {
  list-style: none;
  width: fit-content;
  margin: 0;
  margin-left: auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
.top-nav .inner-wrapper .navs .nav-link {
  font-size: 0.9rem;
  font-weight: 400;
  color: #333;
}
.top-nav .inner-wrapper .navs .dropdown-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  background-color: transparent;
  border: none;
}
.top-nav .inner-wrapper .navs .dropdown-btn img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.top-nav .inner-wrapper .navs .dropdown-btn span {
  font-size: 0.9rem;
  font-weight: 400;
  max-width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.top-nav .inner-wrapper .navs .dropdown-menu a {
  font-size: 0.9rem;
  font-weight: 400;
  color: #333;
}

.side-nav {
  background-color: #161819;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 250px;
  padding: 2rem 1.5rem;
}
.side-nav .brand {
  display: block;
  text-align: center;
  margin-bottom: 3rem;
}
.side-nav .btn-search {
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 40px;
  border-radius: 5px;
  color: #fff;
  margin-bottom: 3rem;
}
.side-nav .btn-search .bi {
  font-size: 1rem;
  color: #fff;
  margin-right: 0.5rem;
}
.side-nav .btn-search span {
  font-size: 0.85rem;
  color: #fff;
  font-weight: 300;
}
.side-nav h6 {
  text-transform: uppercase;
  color: #fff;
  font-size: 0.85rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}
.side-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.side-nav ul li {
  margin-bottom: 0.75rem;
}
.side-nav ul li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.4);
  font-weight: 300;
}
.side-nav ul li a:hover {
  color: #fff;
}
.side-nav ul li a:hover .bi {
  color: #fff;
}
.side-nav ul li a .bi {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.4);
}

/*# sourceMappingURL=dashboard_main.css.map */
