.btn-fill {
  font-size: 0.9rem;
  color: #fff;
  font-weight: 400;
  background-color: #22244b;
  padding: 0.7rem 1.5rem;
  border-radius: 50px;
  text-decoration: none;
  border: 1px solid #22244b;
  text-align: center;
}
.btn-fill:hover {
  text-decoration: none;
  color: #fff;
}

.btn-outline {
  font-size: 0.9rem;
  color: #22244b;
  font-weight: 400;
  background-color: transparent;
  padding: 0.7rem 1.5rem;
  border-radius: 50px;
  text-decoration: none;
  border: 1px solid #22244b;
  text-align: center;
}
.btn-outline:hover {
  text-decoration: none;
  color: #22244b;
}

.cta-link {
  display: block;
  width: fit-content;
  text-decoration: none;
  font-weight: 300;
  font-size: 1rem;
  color: #150d6d;
}
.cta-link:hover {
  text-decoration: none;
  color: #150d6d;
}

.job-card {
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.job-card img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  display: block;
  margin: 0.5rem 1rem 1rem 0.5rem;
  float: left;
}
.job-card .header {
  margin-bottom: 1rem;
}
.job-card .header .duration {
  float: right;
  font-size: 0.85rem;
  font-weight: 300;
  color: #8E91A2;
}
.job-card .header .title {
  font-size: 1.15rem;
  font-weight: 300;
  color: #8E91A2;
  margin-bottom: 0.25rem;
}
.job-card .header .company {
  font-size: 0.9rem;
  font-weight: 500;
  color: #22244b;
  margin-bottom: 1rem;
}
.job-card .header .company .bi {
  font-size: 1rem;
  margin-left: 0.5rem;
}
.job-card .header .tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.job-card .header .tags .tag {
  font-size: 0.75rem;
  font-weight: 300;
  padding: 0.3rem 0.75rem;
  border-radius: 50px;
}
.job-card .header .tags .tag.purple {
  color: #916BE2;
  background-color: #EDEBFA;
}
.job-card .header .tags .tag.blue {
  color: #6178A7;
  background-color: #E2EFFF;
}
.job-card .job-breadcrumb {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 0.5rem;
}
.job-card .job-breadcrumb li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.job-card .job-breadcrumb li a {
  color: #ACACAC;
  font-size: 0.85rem;
  font-weight: 300;
  text-decoration: none;
}
.job-card .job-breadcrumb li .bi {
  color: #ACACAC;
  font-size: 0.85rem;
}
.job-card .status {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  float: left;
  margin-top: 0.5rem;
}
.job-card .status .status-tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 300;
  color: #8E91A2;
  gap: 0.75rem;
}
.job-card .status .status-tag .bi {
  font-size: 1rem;
  color: #333;
}
.job-card a {
  text-decoration: none;
  color: #333;
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
  width: fit-content;
  margin-left: auto;
}

.pagination {
  margin-top: 5rem;
  justify-content: flex-end;
}
.pagination .page-item .page-link {
  color: #22244B;
}
.pagination .page-item.active .page-link {
  background-color: #22244B;
  border-color: #22244b;
  color: #fff;
}
.pagination .page-item.disabled .page-link {
  color: #6c757d;
}

.hero-section {
  background: url("../../images/landing-page/home/hero-banner.png");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
}
.hero-section .inner-wrapper {
  text-align: center;
  width: 45%;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(0, -50%);
}
.hero-section .inner-wrapper .subtitle {
  font-size: 1.75rem;
  font-weight: 400;
}
.hero-section .inner-wrapper .text {
  font-size: 1.25rem;
  font-weight: 300;
}
.hero-section .inner-wrapper .title {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.hero-section .inner-wrapper .title span {
  font-weight: 400;
  color: #22244b;
  background-color: #f2bd4d;
  padding: 0 1.25rem;
  border-radius: 50px;
}
.hero-section .inner-wrapper p {
  font-size: 1rem;
  font-weight: 300;
}

.job-section {
  padding: 7.5rem 0 5rem;
}
.job-section .inner-wrapper {
  width: 90%;
  margin: auto;
}
.job-section .inner-wrapper .header {
  width: 55%;
  margin: 0 auto 3rem;
  text-align: center;
}
.job-section .inner-wrapper .header .title {
  font-size: 2rem;
  font-weight: 400;
  color: #22244b;
}
.job-section .inner-wrapper .header .title span {
  color: #ff7129;
  font-weight: 600;
}
.job-section .inner-wrapper .header p {
  font-size: 1rem;
  font-weight: 300;
}
.job-section .inner-wrapper .featured-jobs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}
.job-section .inner-wrapper .featured-jobs .job-card {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  flex: 0 0 23%;
}
.job-section .inner-wrapper .featured-jobs .job-card::before {
  content: "";
  width: 8px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.job-section .inner-wrapper .featured-jobs .job-card:nth-child(1)::before {
  background-color: #117c3e;
}
.job-section .inner-wrapper .featured-jobs .job-card:nth-child(2)::before {
  background-color: #19a3dc;
}
.job-section .inner-wrapper .featured-jobs .job-card:nth-child(3)::before {
  background-color: #8f4ff0;
}
.job-section .inner-wrapper .featured-jobs .job-card:nth-child(4)::before {
  background-color: #f67520;
}
.job-section .inner-wrapper .featured-jobs .job-card:nth-child(5)::before {
  background-color: #7c1111;
}
.job-section .inner-wrapper .featured-jobs .job-card:nth-child(6)::before {
  background-color: #f2bd4d;
}
.job-section .inner-wrapper .featured-jobs .job-card:nth-child(7)::before {
  background-color: #008d13;
}
.job-section .inner-wrapper .featured-jobs .job-card:nth-child(8)::before {
  background-color: #2044f6;
}
.job-section .inner-wrapper .featured-jobs .job-card .job-link {
  text-decoration: none;
  padding: 1rem 1rem 1rem 1.5rem;
  display: block;
}
.job-section .inner-wrapper .featured-jobs .job-card .job-link .subtitle {
  font-size: 0.75rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
.job-section .inner-wrapper .featured-jobs .job-card .job-link .title {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 0.25rem;
  color: #150d6d;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.job-section .inner-wrapper .featured-jobs .job-card .job-link .location {
  font-size: 0.75rem;
  font-weight: 300;
  margin-bottom: 0.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.job-section .inner-wrapper .featured-jobs .job-card .job-link .location .bi {
  font-size: 1rem;
  color: red;
  margin-right: 0.25rem;
}
.job-section .inner-wrapper .featured-jobs .job-card .job-link p {
  font-size: 0.75rem;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin-bottom: 1rem;
}
.job-section .inner-wrapper .featured-jobs .job-card .job-link .footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.job-section .inner-wrapper .featured-jobs .job-card .job-link .footer p {
  margin: 0;
  flex: 1;
  font-size: 0.75rem;
  font-weight: 400;
  color: #150d6d;
}
.job-section .inner-wrapper .featured-jobs .job-card .job-link .footer .bi {
  font-size: 1rem;
  line-height: 1;
  color: #2da973;
}
.job-section .inner-wrapper .cta-link {
  margin-left: auto;
  margin-right: 2rem;
  margin-top: 2rem;
}

.career-center {
  padding: 5rem 0;
  background-color: rgba(34, 36, 75, 0.05);
}
.career-center .inner-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.career-center .inner-wrapper .content-block {
  flex: 0 0 45%;
  padding: 0 2rem 0 0;
}
.career-center .inner-wrapper .content-block .subtitle {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  color: #ff7129;
}
.career-center .inner-wrapper .content-block .title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #22244b;
  margin-bottom: 0.5rem;
}
.career-center .inner-wrapper .content-block p {
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.career-center .inner-wrapper .content-block .button-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.career-center .inner-wrapper .content-block .button-block .cta-btn {
  width: 40%;
}
.career-center .inner-wrapper .image-block {
  flex: 0 0 55%;
  position: relative;
}
.career-center .inner-wrapper .image-block .img-main {
  width: 100%;
  max-width: 600px;
  height: 400px;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}
.career-center .inner-wrapper .image-block .pop-img {
  position: absolute;
  border: 2px solid #fff;
  border-radius: 10px;
  transition: all 0.5s ease;
}
.career-center .inner-wrapper .image-block .pop-img:hover {
  transform: scale(1.1);
  z-index: 5 !important;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}
.career-center .inner-wrapper .image-block .pop-img.img-1 {
  width: 27.5%;
  top: 50%;
  left: 10%;
  z-index: 2;
}
.career-center .inner-wrapper .image-block .pop-img.img-2 {
  width: 22.5%;
  top: 25%;
  left: -5%;
  z-index: 2;
}
.career-center .inner-wrapper .image-block .pop-img.img-3 {
  width: 32.5%;
  top: 67.5%;
  left: -7.5%;
  z-index: 1;
}
.career-center .inner-wrapper .image-block .pop-img.img-4 {
  width: 27.5%;
  top: 7.5%;
  left: 5%;
  z-index: 1;
}
.career-center .inner-wrapper .image-block .pop-img.img-5 {
  width: 32.5%;
  top: 5%;
  right: 4%;
  z-index: 1;
}
.career-center .inner-wrapper .image-block .pop-img.img-6 {
  width: 30%;
  top: 27.5%;
  right: 10%;
  z-index: 2;
}
.career-center .inner-wrapper .image-block .pop-img.img-7 {
  width: 25%;
  top: 50%;
  right: -2%;
  z-index: 3;
}

.campus-section {
  padding: 5rem 0;
}
.campus-section .header {
  width: 55%;
  margin: 0 auto 3rem;
  text-align: center;
}
.campus-section .header .title {
  font-size: 2rem;
  font-weight: 400;
  color: #22244b;
}
.campus-section .header .title span {
  color: #ff7129;
  font-weight: 600;
}
.campus-section .header p {
  font-size: 1rem;
  font-weight: 300;
}
.campus-section .inner-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
.campus-section .inner-wrapper .campus-card {
  padding: 1rem 1rem 1.5rem 1rem;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}
.campus-section .inner-wrapper .campus-card::after {
  content: "";
  width: 100%;
  height: 8px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.campus-section .inner-wrapper .campus-card:nth-child(1)::after {
  background-color: #19a3dc;
}
.campus-section .inner-wrapper .campus-card:nth-child(2)::after {
  background-color: #117c3e;
}
.campus-section .inner-wrapper .campus-card:nth-child(3)::after {
  background-color: #dc2619;
}
.campus-section .inner-wrapper .campus-card .card-link {
  text-decoration: none;
}
.campus-section .inner-wrapper .campus-card .card-img {
  width: 100%;
  height: 160px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}
.campus-section .inner-wrapper .campus-card .title {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 1rem 0 0.25rem;
  color: #150d6d;
}
.campus-section .inner-wrapper .campus-card .location {
  font-size: 0.8rem;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin-bottom: 1rem;
}
.campus-section .inner-wrapper .campus-card .location .bi {
  font-size: 1rem;
  color: red;
  margin-right: 0.5rem;
}
.campus-section .inner-wrapper .campus-card p {
  font-size: 0.9rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.campus-section .inner-wrapper .campus-card .footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
.campus-section .inner-wrapper .campus-card .footer span {
  font-size: 0.9rem;
  font-weight: 300;
  color: #150d6d;
}
.campus-section .inner-wrapper .campus-card .footer span .bi {
  font-size: 1rem;
  margin-right: 0.5rem;
  color: #333;
}
.campus-section .cta-link {
  margin: 2rem auto 0;
}

.blog-section {
  padding: 5rem 0;
  background-color: rgba(34, 36, 75, 0.05);
}
.blog-section .header {
  width: 55%;
  margin: 0 auto 3rem;
  text-align: center;
}
.blog-section .header .title {
  font-size: 2rem;
  font-weight: 400;
  color: #22244b;
}
.blog-section .header .title span {
  color: #ff7129;
  font-weight: 600;
}
.blog-section .header p {
  font-size: 1rem;
  font-weight: 300;
}
.blog-section .inner-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
.blog-section .inner-wrapper .news-card {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  background-color: #fff;
  flex: 1;
}
.blog-section .inner-wrapper .news-card .card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}
.blog-section .inner-wrapper .news-card .wrapper {
  padding: 1rem;
}
.blog-section .inner-wrapper .news-card .wrapper .title {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 1rem;
  color: #150d6d;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.blog-section .inner-wrapper .news-card .wrapper .title .title-img {
  width: 35px;
}
.blog-section .inner-wrapper .news-card .wrapper p {
  font-size: 0.9rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.blog-section .inner-wrapper .news-card .wrapper .footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  padding-top: 0.5rem;
  border-top: 1px solid #ddd;
}
.blog-section .inner-wrapper .news-card .wrapper .footer span {
  font-size: 0.9rem;
  font-weight: 300;
  color: #777;
}
.blog-section .inner-wrapper .news-card .wrapper .footer span .bi {
  font-size: 1rem;
  margin-right: 0.5rem;
  color: #777;
}
.blog-section .inner-wrapper .news-card .wrapper .footer .view-more {
  flex: 1;
  text-align: right;
  font-size: 0.9rem;
  font-weight: 400;
  color: #00aeef;
  text-decoration: none;
}
.blog-section .cta-link {
  margin: 2rem auto 0;
}

@media screen and (max-width: 991px) {
  .hero-section .inner-wrapper {
    width: 60%;
    top: unset;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .job-section .inner-wrapper .header {
    width: 80%;
  }
  .job-section .inner-wrapper .cta-link {
    margin-right: auto;
  }
  .job-section .inner-wrapper .featured-jobs .job-card {
    flex: 0 0 40%;
  }

  .career-center .inner-wrapper {
    flex-direction: column-reverse;
    gap: 3rem;
  }
  .career-center .inner-wrapper .content-block {
    padding: 0;
    text-align: center;
  }
  .career-center .inner-wrapper .content-block .button-block {
    justify-content: center;
  }

  .campus-section .header {
    width: 80%;
  }
  .campus-section .inner-wrapper {
    flex-direction: column;
  }

  .blog-section .header {
    width: 80%;
  }
  .blog-section .inner-wrapper {
    flex-direction: column;
  }
}
@media screen and (max-width: 767px) {
  .hero-section .inner-wrapper {
    width: 100%;
    top: unset;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .career-center .inner-wrapper .content-block .button-block {
    flex-direction: column;
  }
  .career-center .inner-wrapper .image-block .pop-img.img-2, .career-center .inner-wrapper .image-block .pop-img.img-3 {
    left: 0;
  }
  .career-center .inner-wrapper .image-block .pop-img.img-7 {
    right: 0;
  }

  .job-section .inner-wrapper .featured-jobs .job-card {
    flex: 0 0 100%;
  }
}

/*# sourceMappingURL=home.css.map */
