.candidate-header {
  padding-top: 1rem;
}
.candidate-header .header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem 0;
}
.candidate-header .header-row .info-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.candidate-header .header-row .info-block a {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.candidate-header .header-row .info-block a .bi {
  font-size: 1rem;
  line-height: 0;
}
.candidate-header .header-row .info-block .job-info .job-cat {
  font-size: 0.85rem;
  font-weight: 300;
  text-transform: uppercase;
}
.candidate-header .header-row .info-block .job-info .title {
  font-size: 1.25rem;
  font-weight: 400;
  color: #22244B;
  margin-bottom: 0.2rem;
}
.candidate-header .header-row .info-block .job-info .status {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}
.candidate-header .header-row .info-block .job-info .status span {
  font-size: 0.75rem;
  font-weight: 400;
  text-transform: uppercase;
}
.candidate-header .header-row .info-block .job-info .status .bi {
  font-size: 0.5rem;
}
.candidate-header .header-row .option-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.candidate-header .header-row .option-block .clipboard-btn {
  margin: 0;
  line-height: 0;
  border: none;
}
.candidate-header .header-row .option-block .clipboard-btn .bi {
  font-size: 1rem;
}
.candidate-header .header-row .option-block .cta-btn {
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  font-weight: 300;
  color: #22244B;
}
.candidate-header .header-row .option-block .cta-btn .bi {
  margin-right: 0.25rem;
}
.candidate-header .header-row .option-block .cta-btn:hover {
  background-color: transparent;
  border: 1px solid #22244B;
}
.candidate-header .header-row .option-block .drop-btn {
  border-radius: 5px;
  padding: 0.5rem 1rem;
  border: 1px solid #22244B;
  font-size: 0.85rem;
  font-weight: 300;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.candidate-header .header-row .option-block .drop-btn .bi {
  color: #fff;
}
.candidate-header .header-row .option-block .dropdown-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  font-weight: 300;
  color: #22244B;
}
.candidate-header .header-row .option-block .dropdown-item .bi {
  font-size: 0.9rem;
}
.candidate-header .nav-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.candidate-header .nav-row::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #ddd;
  position: absolute;
  left: 0;
  bottom: 4px;
  z-index: 0;
}
.candidate-header .nav-row .header-nav__links {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}
.candidate-header .nav-row .header-nav__link {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  font-weight: 300;
  color: #8e91a2;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  position: relative;
  z-index: 1;
}
.candidate-header .nav-row .header-nav__link:hover, .candidate-header .nav-row .header-nav__link.active {
  color: #333;
}
.candidate-header .nav-row .header-nav__link.active {
  border-bottom: 4px solid #008d13;
}
.candidate-header .nav-row .job-status {
  padding: 1rem;
  font-size: 0.85rem;
  font-weight: 300;
  color: #5B5C79;
}
.candidate-header .nav-row .job-status span {
  font-weight: 500;
  margin-right: 0.25rem;
}

/*# sourceMappingURL=candidate_list.css.map */
