@import "../../../utilities/utilities";
@import "../../../utilities/variables";

.feature-jobs {
    .divider {
        font-size: 1rem;
        color: #8E91A2;
        margin-bottom: 2rem;
    }

    .jobs-cards-block {
        margin-bottom: 3rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 2rem;

        .job-card {
            flex: 0 0 48%;
        }
    }
}